html {
  overflow-x: hidden;
}
body {
  background-color: #333;
  margin: 0;
  font-family: 'Lato';
  font-size: 0.5em;
}
header {
  box-shadow: 0em 0.5em 1em rgba(0,0,0,0.2);
  position: relative;
}
footer {
  padding-top: 4em;
  padding-left: 1em;
  height: 30em;
  background: url(http://subtlepatterns.com/patterns/groovepaper.png) repeat;
  color: #000000;
}
#info-container {
  width: 70%;
  margin: 0 auto;
}
.col-md-3 {
  position: relative;
  height: 140em;
  padding: 0;
  width: 30%;
  margin: 3em;
  border-style: solid;
  border-width: thin;
  border-color: rgba(0,0,0,0.2);
  border-radius: 1em;
  background: url(http://subtlepatterns.com/patterns/groovepaper.png) repeat;
  color: #000000;
  text-align: center;
  display: block;
}
#header-row {
  padding: 3em;
  text-align: center;
}
#img_container{
    float:left;
    margin: 0;
}
#container2 {
  box-shadow: 0em -0.5em 1em rgba(0,0,0,0.2), 0em 0.5em 1em rgba(0,0,0,0.2);
  padding-top: 8em;
  padding-bottom: 8em;
  position: relative;
}
#casa-img{
  float: left;
  width: 28em;
  height: 14em;
}
h1{
  font-family: 'PT Sans';
  color: #e0dfdc;
  font-size: 7em;
  font-weight: lighter;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  letter-spacing: .1em;
  text-shadow:
    0 -1px 0 #fff,
    0 1px 0 #2e2e2e,
    0 2px 0 #2c2c2c,
    0 3px 0 #2a2a2a,
    0 4px 0 #282828,
    0 5px 0 #262626,
    0 6px 0 #242424,
    0 7px 0 #222,
    0 8px 0 #202020,
    0 9px 0 #1e1e1e,
    0 10px 0 #1c1c1c,
    0 11px 0 #1a1a1a,
    0 12px 0 #181818,
    0 13px 0 #161616,
    0 14px 0 #141414,
    0 15px 0 #121212,
    0 22px 30px rgba(0, 0, 0, 0.9);
}
.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;

}
.jumbotron {
  margin: 0;
  height: 120em;
  background-image: url('./img/charity-bck2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20em;
}
.slideshow{
   margin: 10em auto;
   position: relative;
   height: 280px;

}
.sponsors {
  position: absolute;
  margin: auto;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  width: 140em;
  height: 100em;
  background: url(http://subtlepatterns.com/patterns/groovepaper.png) repeat;
  color: #000000;

}
.inner {
  margin-top: 16em;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10em;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 6px;
}
ul{
  list-style: none;
  font-size: 4em;
  margin: 0;
}
li {
  margin-left: 0;
  margin-top: 1em;
  font-family: 'PT Sans';
}
h2 {
  font-family: 'Changa One';
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0 0;
}
.img_container1 {
  background: transparent;
  padding: 6em;
  margin-top: 3em;
}
.img_container2 {
  background: #000000;
  padding: 6em;
  margin-top: 6em;
}
#title {
  margin-bottom: 2em;
}
h4{
  margin-top: 2em;
  font-family: 'PT Sans';
}
.info-1, .info-2, .info-3 {
  margin: auto;
}
.line-1, .line2-1, .line3-1 {
  font-size: 8em;
  font-family: 'Pacifico';
  display: block;
  margin-top: 1em;
}
.line-2, .line2-2, .line3-2 {
  font-size: 10em;
  font-family: "Changa One";
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  margin-top: 1em;
}
.line-3, .line2-3, .line3-3 {
  font-size: 8em;
  font-family: 'Pacifico';
  display: block;
  margin-top: 1em;
}
.info-1 ul,  .info-3 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.info-1 ul li, .info-3 ul li {
  font-size: 1em;
  font-family: "Changa One";
  text-transform: uppercase;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;

}
.info-2 p {
  font-size: 3em;
  font-family: "Changa One";
  text-transform: uppercase;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2em;
  margin-bottom: 0;
}
#btn-container {
  margin-top: 8em;
}
#btn-container2 {
  margin-top: 2em;
}
#purchase-btn {
  height: 4em;
  width: 8em;
  font-family: "Changa One";
  font-size: 6em;
  text-transform: uppercase;
  background: transparent;
  border-style: dashed;
  letter-spacing: 0.1em;
}
a {
  margin: 0;
  padding: 0;
  color: inherit;
}
#purchase-btn:hover {
  border-style: dotted;
  border-color: rgba(0,0,0,0.5);
  text-decoration: none;
}
a:hover{
  color: inherit;
  text-decoration: none;
}
#purchase-btn:focus, a:focus {
  outline: 0;
  text-decoration: none;
}
table {
  font-family: "PT Sans";
  font-weight: thin;
  font-size: 18px;
  width: 25%;
  height: 6em;
  margin-left: 0.5em;
  padding-top: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-width: 2px;
  border-style:dashed;;
  border-left-color: rgba(0,0,0,0.1);
}
th{
  padding-left: 1em;
}
#email:focus {
  color: inherit;
}
#media-container {
  width: 40%;
  float: right;
  display: inline;
  margin: 0;
}
#social-menu {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 30%;
  text-align: center;
  float: right;
  padding-top: 2em;
}
#social-menu li {
  width: 3em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;
  margin-right: 1em;
  display: inline;
}
