body{
  position: absolute;
  clear: both;
}
.btn-primary {
    border-color: #1ee2e7;
    text-transform: uppercase;
    font-family: 'PT Sans';
    font-weight: 700;
    color: #fff;
    background-color: #1ee2e7;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #17d0d5;
    color: #fff;
    background-color: #17d0d5;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #1ee2e7;
    background-color: #1ee2e7;
}

.btn-primary .badge {
    color: #000;
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #1ee2e7;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: 'PT Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #1ee2e7;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #17d0d5;
    color: #fff;
    background-color: #17d0d5;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #1ee2e7;
    background-color: #1ee2e7;
}

.btn-xl .badge {
    color: #000;
    background-color: #fff;
}

.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand {
    font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,cursive;
    text-transform: uppercase;
    color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #1ee2e7;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #1ee2e7;
    background-color: #1ee2e7;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #1ee2e7;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: 'PT Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #1ee2e7;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #1ee2e7;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #17d0d5;
}

@media(min-width:768px) {
  .data {
    font-size: 10px;
  }
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }

}

.container {
  margin: auto;
  width: 100%;
}
.jumbotron{
  padding-bottom: 1em;
}
.jumbotron iframe {
  margin: auto;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: thin solid rgba(0,0,0,0.2);
  border-bottom: thin solid rgba(0,0,0,0.2);
}
.about-card {
  width: 38%;
  margin: auto;
  text-align: left;
  padding: 1em;
}
.card, .insert {
  width: 90%;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 4em;
  -moz-box-shadow: 1em 1em 0.5em rgba(0,0,0,0.2);
  -webkit-box-shadow: 1em 1em 0.5em rgba(0,0,0,0.2);
  box-shadow: 1em 1em 0.5em rgba(0,0,0,0.2);
  border: none;
  border-radius: 0.3em;
}
.card p, .insert p {
  color: rgba(0,0,0,0.6);
}
.data {
  margin: auto;
  width: 100%;
  height: 31em;
  padding-top: 1em;
  padding-bottom: 0;
}
.circle
{
margin: auto;
width:5em;
height:5em;
border-radius:2.5em;
font-size:3.4em;
color:#fff;
line-height:5em;
text-align:center;
background:#1ee2e7;
cursor: pointer;
}
.info {
  width:50%;
  margin: auto;
  font-size: 2em;
  color: rgba(0,0,0,0.6);
  line-height: 1em;
  padding-top: 1em;
  text-align: justify;
}
.image-gallery {
  width: 90%;
  margin: auto;
  padding-top: 2em;
  padding-bottom: 3em;
  padding-left: 5em;
}
.image-gallery img {
  width: 30%;
  height: 30%;
  margin: auto;
  padding: 0;
}
.sub-container2 h1 {
  padding: 0;
  margin: 0;
}
.footer-row {
  background-color: #222;
}
#social-menu {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 80%;
  text-align: center;
  float: right;
  padding-top: 3em;
}
#social-menu li {
  width: 3em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;
  margin-right: 1em;
  display: inline;

}
#social-menu > li> a {
    color: #fff;
}
#social-menu li a:hover {
  text-decoration: none;
  color: #1ee2e7;
}
