html {
  overflow: hidden;
}
body {
  width: 100%;
  margin: auto;
}
.container {
  width: 100%;
  margin: auto;
  padding-left: 20em;
  padding-top: 4em;
}
.row {
  width: 100%;
  margin: auto;
}
.tile {
  width: 20%;
  height: 14em;
  margin: auto;
  display: inline-block;
  border: thin solid rgba(0,0,0,0.5)
}

audio {
  width: 100%;
  padding-bottom: 5em;
  padding-top: 3em;
  height: 14em;
}

p {
  margin: 0;
  text-align: center;
  height: 10em;
}
h4 {
  width: 100%;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 0;
}
