body {
  width: 100%;
  margin: auto;
  background: rgba(0,0,0,0.1);
}
header {
  width: 50%;
  margin: auto;
  background: #fff;
  height: 6em;
  border-bottom: thin solid rgba(0,0,0,0.5);
}
.container {
  background: #fff;
  width: 50%;
  margin: auto;
}
.article {
  width: 75%;
  margin: auto;
  padding-top: 1em;
}

.author-seg {
  margin-top: 1em;
  border-top: thin solid rgba(0,0,0,0.3);
  height: 2.5em;
  border-bottom: thin solid rgba(0,0,0,0.3);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.author-seg > p {
  display: inline;
  float: left;
  width: 40%;
  color: rgba(0,0,0,0.6);
}

.author-seg > ul {
  list-style: none;
  display: inline;
  float: right;
  width: 40%;
}

.author-seg > ul > li {
  display: inline;
  margin:1em;
}

.author-seg > ul >li > a > i {
  color: #000;
}
.img-holder {
  text-align: center;
  padding-bottom: 2em;
}
img {
  width: 75%;
}
#second-img {
  margin-top: 2em;
}
.comment-system {
  height: 32em;
  width: 100%;
}
.divider {
  width: 50%;
  margin: auto;
  border-bottom: thin solid rgba(0,0,0,0.5);
}
form {
  width: 100%;
  margin: auto;
  display: block;
}
h3 {
  text-align: center;
}
label, input,textarea {
  display: block;
  margin: auto;
  text-align: center;
  width: 50%;
  padding-top: 1em;
  padding-bottom: 1em;
}
button {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 40%;
  height: 3em;
}
#hello-container {
  width: 40%;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-right: 0;
  display: inline-block;
}
#hello {
  width: 100%;
  margin-left: 4em;
}

#hello p {
  display: inline;
  margin-left: 0.3em;
}

#sign-in, #post-comm, #sign-in-sub, #sign-up-sub {
  background-color: transparent;
  box-shadow: none;
  outline: 0;
  border: thin solid #000;
  display: inline-block;
}

#sign-in, #sign-out-btn {
  margin-top: 1.4em;
  margin-bottom: 1em;
  margin-right: 4em;
  float: right;
  width: 10%;
  text-align: center;
}

#sign-up-sub, #sign-in-sub, #post-comm {
  display: block;
  margin-top: 1.4em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  text-align: center;
}
#sign-up-lnk {
  text-align: center;
  cursor: pointer;
}

#commentform textarea {
  text-align: left;
}

#comments {
  width: 100%;
  margin: auto;
}

.post {
  width: 55%;
  padding: 1em;
  margin: auto;
}

.post > h4 {
  text-align: center;
}

.deletebtn {
  font-size: 0.7em;
  color: rgba(0,0,0,0.5);
}

.deletebtn:hover {
  cursor: pointer;
  color: rgba(0,0,0,0.9);
  text-shadow: 0em 1em 1em rgba(0,0,0,0.3);
}
.close {
  color: rgba(0,0,0,0.4);
  display: inline-block;
  width:5%;
  margin-left: 0;
  margin-right: 2em;
  padding-top: 0.7em;
  float: right;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

#title-sign {
  width: 85%;
  text-align: center;
  padding-left: 5em;
  padding-top: 1em;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
}
