html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url('../images/breck.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  background: transparent;
}
section {
  width: 100%;
  height: 85.7%;
}
ul {
  width: 100%;
  margin-right: 0;
  list-style: none;
  color: #fff;
}
#facts {
  width: 16%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  margin-right: 0;
  padding-top: 1em;
  padding-left: 0em;
  padding-right: 0;
  padding-bottom: 44em;
  border-left: thin solid #fff;
  margin-left: 0;
  float: left;
}
li {
  padding: 0;
  font-style: italic;
  margin-right: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}
h5 {
  width: 50%;
  font-size: 1.5em;
  padding-bottom: 0.3em;
  border-bottom: thin solid #fff;
}
img {
  margin-left: 1.5em;
  width: 17.8%;
}
#left {
  float: left;
}
#right {
  float: right;
  margin-right: 8em;
}
p {
  display: inline;
  margin: 0;
  width: 1%;
}
i {
  color: #fff;
}
.info {
  margin-left: 2.25em;
}
i:hover {
  cursor: pointer;
}
.home {
  font-style: normal;
  margin-left: 2.25em;
}
.home > a > i {
  font-size: 2em;
  color: #fff;
}
.home > a:hover {
  text-decoration: none;
}
.info-rating {
  width: 120%;
}
.icon-star {
  color: #fff;
  display: inline;
  font-style: normal;
}
.about-fact {
  width: 80%;
  float: right;
  height: 10em;
}
.icon-circle {
  color: rgba(0,0,0,0.6);
  font-size: 2em;
  margin-left: 6.25em;
}
.icon {
  margin-top: 2em;
}
#b1 {
  width: 5%;
  margin-left: 23.1em;
  margin-top: 9.5em;
  float: left;
}
#b2 {
  margin: 0;
  width: 10%;
  margin-top: 13.9em;
  margin-left: 17.1em;
  float: left;
}
#b3 {
  margin: 0;
  width: 5%;
  margin-top: 17.25em;
  margin-left: 14.3em;
  margin-right: 0;
  padding-right: 0;
  float: left;
}
#b-fact-1, #b-fact-2, #b-fact-3 {
  margin: 0;
}
#info-b1, #info-b2, #info-b3 {
  float: left;
  color: #fff;
  padding-bottom: 2em;
  position: fixed;
  width: 15em;
}
#b1, #b2, #b3 {
  position: static;
}
