html, body {
  width: 100%;
  height: 100%;
}
header {
  height: 7.7%;
}
footer {
  height: 7%;
}
header, footer {
  background: rgba(0,0,0,0.85);
}
section {
  background-image: url('../images/snowpaper.jpg');
  background-size: cover;
  height: 85.7%;
}
jumbotron {
  width: 100%;
  height: 80%;
}
ul {
  list-style: none;
  padding-left: 26.8em;
}
li {
  display: inline;
  padding-right: 16em;
}
input {
  background: transparent;
  padding-bottom: 1em;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1em;
  border: thin solid #000;
  border-radius: 0.2em;
}
input:hover {
  border-color: rgba(0,0,0,0.4);
  color: rgba(0,0,0,0.4);
}
input:focus {
  outline: 0;
}
p {
  color: rgba(255,255,255,0.2);
  float: right;
  margin-right: 6em;
  margin-top: 1.5em;
}
h4 {
  width: 100%;
  text-align: center;
  padding-top: 10em;
  font-size: 2em;
}
#header {
  margin-top: 0;
}
