html {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: auto;
  background: url('../images/noise.png') repeat;
  background-size:auto;
}
body {
  width: 100%;
  height: 100%;
  background-color: transparent;
  margin: auto;
}
.title, .data {
  height: 4em;
  background-color: #fafafa;
  width: 100%;
  font-family: 'PT Sans';
  letter-spacing: 0.1em;
}
.title {
  padding-top: 1.5em;
  font-size: 1.2em;
  color: #7a7a7a;
}
.data {
  background-color: #fff;
  font-size: 1em;
  height: 4em;
}
#main-row {
  height: 100%;
}
.data-img {
  background-color: #fff;
  font-size: 1em;
  height: 7em;
}
.data, .data-img {
  color: #9f9f9f;
}
.data-row {
  margin-top: 1em;
  margin-bottom: 2em;
}
.column {
  width: 50%;
  margin: 0;
  padding: 2em;
  text-align: center;
}
#main-body{
  background: transparent;
}
.row {
  height: 100%;
  width: 100%;
  background-color: transparent;
}
#stat-div1 {
  height: 100%;
  width: 100%;
  background-color: transparent;
}
#lower {
  padding-top: 2em;
}
.graph-container {
  height: 481px;
}
#background1, #background2 {
  background-color: #fff;
  width: 40%;
  text-align: center;
  padding: 0;
}
.contain-graph {
  margin: 0;
  background-color: #fff;
}
#divider2 {
  margin-top: 2em;
}
.div-container {
  width: 100%;
  margin-bottom: 2em;
}
.divider {
  width:40%;
  margin: auto;
  border-top: thin solid rgba(0,0,0,0.3);
}
h4{
  margin: 2em;
  color: #7a7a7a;
  font-family: 'Changa One';
  text-transform: uppercase;
}
