html {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: url('../images/noise.png') repeat;
  background-size:auto;
}
.title, .data {
  height: 4em;
  background-color: #fafafa;
  width: 100%;
  font-family: 'PT Sans';
  letter-spacing: 0.1em;
}
.title {
  padding-top: 1.5em;
  font-size: 1.2em;
  color: #7a7a7a;
  text-align: center;
}
#mid-title {
  padding-left: 0;
  float: left;
}
#last-title {
  padding-left: 0;
  float: left;
}
.data {
  background-color: #fff;
  font-size: 1em;
  height: 4em;
}
#experience-data {
  height: 18em;
  margin-bottom: 1em;
}
#experience-data  ul li {
  margin-bottom: 0.75em;
}
#main-row {
  height: 100%;
  background-color: transparent;
}
.data-img {
  background-color: #fff;
  font-size: 1em;
  height: 7em;
}
.data, .data-img {
  color: #9f9f9f;
}
.data-row {
  margin-top: 1em;
  margin-bottom: 2em;
}
.column {
  width: 50%;
  margin: 0;
  padding: 2em;
  text-align: center;
}
body{
  background-color: transparent;
}
#lower {
  height: 4em;
  padding-top: 5em;
}
.row {
  height: 100%;
  width: 100%;
  background-color: transparent;
}
#stat-div1 {
  height: 100%;
  width: 100%;
  background-color: transparent;
}
#stat-div2 {
  margin-top: 4em;
}
#background1 {
  background-color: #fff;
  width: 40%;
  padding: 0;
}
#divider2 {
  margin-top: 2em;
}
.div-container {
  width: 100%;
  margin-bottom: 2em;
}
.divider {
  width:40%;
  margin: auto;
  border-top: thin solid rgba(0,0,0,0.3);
}
