html {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: url('../images/noise.png') repeat;
  background-size:auto;
}
#data-long {
  height: 10em;
}
#data-long2 {
  height: 34em;
}
.title, .data {
  height: 4em;
  background-color: #fafafa;
  width: 100%;
  font-family: 'PT Sans';
  letter-spacing: 0.1em;
}
.title {
  padding-top: 1.5em;
  font-size: 1.2em;
  color: #7a7a7a;
}
.data {
  background-color: #fff;
  font-size: 1em;
  height: 4em;
}
#main-row {
  height: 100%;
  background-color: transparent;
}
.data-img {
  background-color: #fff;
  font-size: 1em;
  height: 7em;
}
.data, .data-img {
  color: #9f9f9f;
}
#stat-row {
  height: 42em;
}
#overview-row {
  margin-bottom: 0;
}
#basic-column {
  border-bottom: none;
}
.data-row {
  margin-top: 1em;
  margin-bottom: 2em;
}
.no-img {
  height:0.73em;
}
.no-img2 {
  height:0.58em;
}
.column {
  width: 50%;
  margin: 0;
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.5em;
  border-bottom: thin solid rgba(0,0,0,0.3);
}
.graph-container {
  height: 400px;
  margin-bottom: 4em;
}
body{
  background: transparent;
}
#experience-data {
  height: 22em;
}
#experience-data  ul, #data-long ul, #data-long2 ul {
  list-style: none;
}
#experience-data ul li, #data-long ul li,#data-long2 ul li   {
  margin-bottom: 1.5em;
}
.row {
  height: 100%;
  width: 100%;
  background-color: transparent;
}
#stat-div1, #stat-div2 {
  height: 100%;
  width: 100%;
  background-color: transparent;
}
#stat-div2 {
  margin-top: 4em;
}
#three {
  padding-top: 2em;
}
#background1 {
  background-color: #fff;
  width: 40%;
  text-align: center;
  padding: 0;
  height: 180em;
}
.contain-graph {
  margin: 0;
  background-color: #fff;
}
#divider2 {
  margin-top: 2em;
}
#lower {
  height: 2em;
  padding-top: 2em;
}
.div-container {
  width: 100%;
  margin-bottom: 2em;
}
.divider {
  width:40%;
  margin: auto;
  border-top: thin solid rgba(0,0,0,0.3);
}
h4{
  margin: 2em;
  color: #7a7a7a;
  font-family: 'Changa One';
  text-transform: uppercase;
}
iframe {
  max-height: 400px;
}
li b {
  padding: 0.1em;
  background-color: #fafafa;
}
