header {
  height: 6em;
}
body{
  width: 100%;
  margin: auto;
}
html {
  width: 100%;
  margin: auto;
  padding: 0;
  overflow-x: hidden;

}
.contact-form {
  width: 100%;
  margin: auto;
  padding-top: 8em;
}
form, form .row {
  font-family: 'PT Sans';
  text-transform: uppercase;
  color: rgba(255,255,255,0.8);
  text-shadow: 0 0.5em 1em rgba(255,255,255,0.3);
  background-color: transparent;
  text-align: center;
  font-size: 1.2em;
}
input, textarea {
  background-color: rgba(0,0,0,0.7);
  border: none;
  box-shadow: 0 0.5em 1em rgba(0,0,0,0.3);
}
input:focus, textarea:focus {
    outline:0;
    box-shadow: 0 0.5em 1em rgba(255,255,255,0.3);
}
#submit_button {
  background-color: rgba(0,0,0,0.6);
  border: none;
}
.jumbotron {
  width: 100%;
  margin: auto;
  margin-bottom: 0;
  height: 42em;
}
.title-txt {
  float: left;
  width: 20em;
  padding-right: 1em;
  padding-top: 0.05em;
  padding-left: 1.7em;
  height: 100%;
  color: rgba(0,0,0,0.3);
  text-shadow: 2px 2px 0px rgba(0,0,0,0.1);
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: -0.01em;
  line-height: 1;
}
.title-txt p {
  padding-top: 0.6em;
}
.jumbotxt{
  float: right;
  width: 7em;
  padding-right: 2em;
  padding-top: 1.35em;
  padding-left: 1em;
  height: 100%;
  color: rgba(0,0,0,0.3);
  text-shadow: 2px 2px 0px rgba(0,0,0,0.1);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: -0.01em;
  line-height: 1;
  text-transform: lowercase;
}
label p{
  width: auto;
  color: rgba(255,255,255,0.7);
}
label p:hover {
  text-shadow: 1em 1em 5em rgba(255,255,255,0.9);
}
button:hover {
  box-shadow: 0em 1em 2em rgba(255,255,255,0.5);
}
button:focus {
  outline: 0;
  color: rgba(255,255,255,0.7);
}
.jumbotxt:hover {
  color:#2f2f2f;
}
#nav-row {
  font-family: 'Changa One';
  text-transform: uppercase;
  font-size: 1em;
    background-color: transparent;
}
#iframe-row {
  width: 100%;
  margin: auto;
  padding-top: 2em;
}

#about-div2 {
  height: 19em;
  margin: auto;
  width: 100%;
}
#text-row2 {
  padding-bottom: 2em;
  width: 100%;
  margin-bottom: 2em;
  background-color: #fff;
  padding-top: 1em;
  display: inline;
}
#img-row {
  width: 80%;
  margin: auto;
  background-color: #fff;
}
.row {
  margin: auto;
  width: 100%;
  background-color: #fff;
}
.col-md-6 {
  margin: auto;
  width: 50%;
  padding: 0;
}
.main-column {
  margin: 0;
  width: 50%;
  padding: 0;
}
.img-holder {
  margin: auto;
  width: 30%;
}
#hillary-col1 {
  border-right: thin solid rgba(0,0,0,0.3);
}
.centerBlock {
  width: 50%;
  margin: auto;
}
#trump-col1 {
  padding-left: 18em;
}
#hillary-col2 {
  border-right: thin solid rgba(0,0,0,0.3);
  margin: 0;
}
#trump-col2 {
  margin: 0;
}
#hillary-text {
  margin: auto;
  width: 50%;
  margin-top: 2em;
}
#trump-text {
  margin: auto;
  width: 50%;
  margin-top: 2em;
}
.text-container{
  padding-top: 1em;
  border-top: thin solid rgba(0,0,0,0.3);
  margin: auto;
  width: 30%;
}
footer {
  height: 6em;
}
iframe {
  position: absolute;
  width: 100%;
  height: 206em;
  border: none;
  box-shadow: none;
  margin: auto;
}
h4 {
  text-align: center;
}
.div-container {
  width: 100%;
  margin-bottom: 2em;
}
.divider {
  width:29.5%;
  margin: auto;
  border-top: thin solid rgba(0,0,0,0.3);
}
/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    padding-left: 43.68em;
}
/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #9f9f9f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {
  background-color: #999;
  color:#fff
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
