html {
  overflow: hidden;
  width: 100%;
  height: 156em;
}
#data-long {
  height: 31em;
}
#data-long2 {
  height: 34em;
}
.title, .data {
  height: 4em;
  background-color: #fafafa;
  width: 100%;
  font-family: 'PT Sans';
  letter-spacing: 0.1em;
}
.title {
  padding-top: 1.5em;
  font-size: 1.2em;
  color: #7a7a7a;
}
.data {
  background-color: #fff;
  font-size: 1em;
  height: 4em;
}
#main-row {
  background: url('../images/noise.png') repeat;
  background-size:auto;
  height: 100%;
}
.data-img {
  background-color: #fff;
  font-size: 1em;
  height: 7em;
}
.data, .data-img {
  color: #9f9f9f;
}
.data-row {
  margin-top: 1em;
  margin-bottom: 2em;
}
.column {
  width: 50%;
  margin: 0;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
}
.graph-container {
  height: 400px;
  margin-bottom: 4em;
}
#main-body{
  background: transparent;
}
#experience-data {
  height: 22em;
}
#experience-data  ul, #data-long ul, #data-long2 ul {
  list-style: none;
}
#experience-data ul li, #data-long ul li,#data-long2 ul li   {
  margin-bottom: 1.5em;
}
.row {
  height: 136em;
  width: 100%;
}
#stat-div1, #stat-div2 {
  height: 136em;
  width: 100%;
}
#stat-div2 {
  margin-top: 4em;
}
#three {
  padding-top: 2em;
}
#background1, #background2 {
  background-color: #fff;
  width: 40%;
  text-align: center;
  padding: 0;
}
.contain-graph {
  margin: 0;
  background-color: #fff;
}
#outer1, #outer2 {
  width: 100%;
}
#divider2 {
  margin-top: 2em;
}
.div-container {
  width: 100%;
  margin-bottom: 2em;
}
.divider {
  width:40%;
  margin: auto;
  border-top: thin solid rgba(0,0,0,0.3);
}
h4{
  margin: 2em;
  color: #7a7a7a;
  font-family: 'Changa One';
  text-transform: uppercase;
}
li b {
  padding: 0.1em;
  background-color: #fafafa;
}
