
a {
  margin: 1em;
}
a:hover {
  text-decoration: none;
}
#image-holder {
  height: 160px;
  width: 160px;
}
img{
  margin-top: 30px;
  margin-left: 30px;
}
.candidate {
  width: 160px;
}
p {
  text-align: center;
}
#submitDate  {
  background: transparent;
  border: thin solid #000;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 0.3em;
}
#clear{
  background: transparent;
  border: thin solid #000;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 3.5em;
  padding-right: 3.5em;
  border-radius: 0.3em;
}
#inputs, .row {
  margin: auto;
  width:50%;
}
.datepicker {
  background: #fff;
  margin-left: 9%;
}
#city_select {
  margin-left: 5.2%;
  display: block;
}
#candidate_select {
  margin-left: 8.8%;
}

input, select{
  margin-top: 2em;
  border-radius: 0.2em;
  border: thin solid #000;
}
#ui-datepicker-div {
  background: #fff;
  cursor: pointer;
  padding: 1em;
  border-radius: 0.2em;
}
#candidate_profile {
  padding-left: 15%;
  padding-right: 15%;
  margin: auto;
}
#candidate_profile > div {
  display: inline-block;
  margin: auto;
}
img {
  margin-bottom: 1em;
}
h2 {
  width: 32%;
  padding-top: 2.5em;
  margin: auto;
}
