.container {
  width: 100%;
  height: 40em;
}

ul {
  margin-left: auto;
  margin-right: auto;
}
.audio-container {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
ul {
  border: thin solid #000;
  border-radius: 0.3em;
  list-style: none;
  width: 20%;
  margin-top: 12em;
  margin-bottom: 1em;
  padding-left: 0;
}
i {
  margin-left: 1em;
  margin-top: 1em;
}
li {
  cursor: pointer;
}

#main {
  font-size: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.item {
  border-top: thin solid #000;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
