html {
  overflow: hidden;
  font-family: 'Lato';
}
body {
  height: 120em;
}
.container {
  height: 100%;
  padding-top: 6em;
}
.title {
  text-align: center;
  padding-top: 7em;
  height: 16em;
  letter-spacing: 0.1em;
  font-weight: 100;
  color: rgba(0,0,0,0.7);

}
#show-sequence {
  margin: auto;
  width: 100%;
  display: inline;
  height: 25em;
  padding-top: 10em;
  padding-bottom: 10em;
}
.input-area {
  width: 100%;
  margin: auto;
  text-align: center;
}
.col-md-6 {
  text-align: center;
  width: 100%;
  padding: 0;
  margin-bottom: 4em;
}

h3 {
  letter-spacing: 0.1em;
  font-weight: 100;
  color: rgba(0,0,0,0.7);
  width: 100%;
  margin: 0;
  display: inline;
  line-height: 2em;
}

ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  width: 50%;
  margin: 0;
  padding: 0;
  display: inline;
}
button {
  background: transparent;
  color: rgba(0,0,0,0.5);
  box-shadow: none;
  border: thin solid rgba(0,0,0,0.5);
  padding: 0.2em;
  border-radius: 0.2em;
}
button:hover, input:hover {
  font-style: italic;
}
button:focus {
  outline: 0;
}
.2-10 {
  background: transparent;
  color: rgba(0,0,0,0.5);
  box-shadow: none;
  border: thin solid rgba(0,0,0,0.5);
  border-radius: 0.2em;
}

input {
  letter-spacing: 0.1em;
  font-weight: 100;
  color: rgba(0,0,0,0.7);
  text-transform: lowercase;
}

input:focus {
  outline:0;
  box-shadow: 0 0.5em 1em rgba(0,0,0,0.3)
}
